.main-image {
	max-height: 200px;
	align: center;
}

.shiny-app {
	border: none;
	height: 100vh;
	width: 100vw;
}

.tab-pane > select {
	height: 200px;
	/*width: 200px;*/
}

.track-select {
	height: 200px;
	/*width: 200px;*/
}

p.note {
	font-size: small;
	color: #AAAAAA;
	font-style: italic;
	margin-bottom: 2px;
	padding-left: 5px;
}

p.help {
	font-size: small;
	color: #AAAAAA;
}

p.caption {
	font-size: small;
}

h4.caption {
	font-weight: bold;
}

/* Adjust the default bootstrap breadcrumbs,
   thanks to http://bootstrapdesigntools.com/ */
.breadcrumb {background: rgba(255, 255, 255, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 4px; display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(66, 139, 202, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {color: rgba(204, 204, 204, 1); content: "\005C\00a0";}

